<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.taoroot.tao.system.mapper.SysUserMapper">

    <select id="roles" resultType="com.github.taoroot.tao.system.entity.SysRole">
        select r.*
        from user_role ur,
             roles r
        where r.id = ur.role_id
          AND ur.user_id = #{userId};
    </select>


    <select id="authorities" resultType="com.github.taoroot.tao.system.entity.SysAuthority">
        select distinct a.*
        from authorities a,
             role_authority ar
        where a.id = ar.authority_id
        <if test="type != null">
            and a.type = #{type}
        </if>
          and ar.role_id in (
            select r.id
            from user_role ur,
                 roles r
            where r.id = ur.role_id
              AND ur.user_id = #{userId}
        )
    </select>

    <select id="getPage" resultType="com.github.taoroot.tao.system.dto.SysUserPageVO">
        select u.*, d.name as dept_name
        from users u
        left join depts d on d.id = u.dept_id
    </select>
    <select id="authorities1" resultType="com.github.taoroot.tao.system.entity.SysAuthority">
        select * from users
    </select>


</mapper>
